* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #f7ebe8;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
}

/* Header section */

.header {
  background: #3c3c3c;
  color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

img {
  display: block;
  width: 50px;
}

.nav-title {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f5f8;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.showNav {
  transform: translate(0);
}

.nav-header {
  text-align: right;
  padding-right: 1rem;
}

.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transition: all 0.3s linear;
}

.nav-close:hover {
  color: #bb2525;
}

nav li {
  list-style-type: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #617d98;
  transition: all 0.3s linear;
}

.nav a:hover {
  background: #f7ebe8;
  padding-left: 1.5rem;
  border-left: 0.25rem solid #bf0000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  font-size: 50px;
}

/* Page title */
.page-title {
  text-align: center;
  padding-top: 20px;
}

/* Event cards */
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 90px;
  gap: 30px;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  padding: 16px;
}

.event-details {
  padding: 2px 16px;
}

.event-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.read-more {
  background-color: #931818;
  border: none;
  color: white;
  padding: 15px 25px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.read-more a {
  text-decoration: none;
  color: white;
}

#more {
  display: none;
}

/* Footer */
.footer {
  background: #3c3c3c;
  color: #fff;
  padding-top: 1em;
}

.footer-adress {
  max-width: 50%;
}

.footer-terms .footer-terms:visited {
  max-width: 90%;
  color: white;
  text-decoration: none;
}

.footer-terms a {
  color: white;
  text-decoration: none;
}

.footer-terms a:visited {
  color: white;
}

/* Media Queries */

@media screen and (min-width: 1126px) {
  .wrapper {
    max-width: 1170px;
    width: 90%;
  }

  .nav-btn {
    display: none;
  }

  .nav-title {
    display: block;
    margin: 0;
  }

  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 1em;
  }

  .nav {
    transform: translateX(0);
    background: none;
    position: static;
  }

  .nav-header {
    display: none;
  }

  .nav a {
    color: #fff;
    font-size: 1rem;
    font-size: 1rem;
    padding: 0 0 0.2rem 0;
    text-transform: capitalize;
  }

  .nav a:hover {
    text-decoration: underline;
    background: none;
    padding-left: 0;
    border-left: none;
    border-bottom: 2px solid #931818;
  }

  .event-image {
    max-width: 600px;
    height: auto;
  }

  .footer {
    min-height: 20vh;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-adress,
  .footer-terms {
    max-width: 200px;
    width: 100%;
    line-height: 1.5;
  }
}
